@font-face {
  font-family: 'sohne';
  src: url('https://eliaspoolman.github.io/blokweb/fonts/sohne/soehne-300.woff') format('woff'); 
  font-weight: 300;
}

@font-face {
  font-family: 'sohne';
  src: url('https://eliaspoolman.github.io/blokweb/fonts/sohne/soehne-400.woff') format('woff'); 
  font-weight: 400;
}

@font-face {
  font-family: 'sohne';
  src: url('https://eliaspoolman.github.io/blokweb/fonts/sohne/soehne-500.woff') format('woff'); 
  font-weight: 500;
}

@font-face {
  font-family: 'sohne';
  src: url('https://eliaspoolman.github.io/blokweb/fonts/sohne/soehne-600.woff') format('woff'); 
  font-weight: 600;
}



/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

body {
    margin: 0px;
    font-family: "sohne","Helvetica Neue","Arial",sans-serif;
    padding: 20px 0px;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 3.5vw 93vw 3.5vw;
    position: absolute;
    
    /* Bron: https://medium.com/better-programming/improving-font-rendering-with-css-3383fc358cbc */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    border-left: 0.5px solid #eee;
    border-right: 0.5px solid #eee;
    z-index: 5;
}

/* Opmaak van de header */

header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px 5px 20px ;
}


/* Vormgeving van de schuine achtergrond 
   Bron: https://www.sitepoint.com/css3-transform-background-image/ */

header::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 635%;
    top: -150%;
    left: -52.5%;   
    z-index: -1;
    background-color: red;
    transform: rotate(-11deg);
    
    /* Bron: https://www.w3schools.com/cssref/pr_background-image.asp */
    background-image: url("https://eliaspoolman.github.io/blokweb/images/hero-background.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain;
}

/* Opmaak van het logo */

header > a > img {
    width: 60px;
}

/* Opmaak van het menu-icoontje */

header nav {
    /* doorzichtig grijze achtergrondkleur van knop */
    background-color: hsla(0,0%,100%,0.2);
    
    /* rond maken van de menu-knop */
    border-radius: 20px; 
    padding: 10px 15px;
    margin: 8px;
    
    /* positioneren van menu-icoontje */
    display: flex;
    align-items: center;
}

/* hover effect menu knopje 
   bron: https://stackoverflow.com/questions/19469495/css-slow-hover-effect
*/

header nav:hover {
    background-color: hsla(0,0%,100%,0.4);
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease !important;
    -ms-transition: all .4s ease !important;
    -o-transition: all .4s ease !important;
}

/* Toegankelijkheid: als er over een link wordt gehoverd, laat dan geleidelijk
   een nieuwe kleur zien. (kleuren verderop in de CSS) */

a:hover,
footer li:hover,
div:hover,
article:hover {
    transition: all .4s ease !important;
    -webkit-transition: all .4s ease !important;
    -moz-transition: all .4s ease !important;
    -ms-transition: all .4s ease !important;
    -o-transition: all .4s ease !important;
}

/* Toegankelijkheid: als er op een knop of link wordt geklikt, maak de tekst rood */

a:active {
    color: red !important;
    opacity: 1;
    font-weight: 400;
    transition: none !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition:none !important;
    -o-transition: none !important;
}

/* instelling voor de afbeelding van de menu-knop */
header nav img {
    width: 15px;
}

/* Opmaak van het uitklapmenu */

header section {
    width: 100%;
    background-color: white;
    position: absolute;
    top: 0px;
    left: -25px;
    border-radius: 10px;
    
    /* gegenereerd op https://www.cssmatic.com/box-shadow */
    -webkit-box-shadow: 0px 0px 50px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 50px -19px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 50px -19px rgba(0,0,0,0.75);
}

.menustripe {
    display: none !important;
}

header section article {
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
}

header section > article:first-of-type {
    flex-direction: row;
    align-items: center;
    justify-content: space-between
}

header section article:first-of-type img {
    height: 20px;
    margin-right: 25px;
    margin-top: 30px;
}

header section article:nth-of-type(3) {
    border-top: 2px #f6f9fc dashed;
}

header section article h6 {
    margin-left: 50px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0px;
    opacity: 0.4;
}

header section article ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 170px;
}

header section article ul a {
    text-decoration: none;
    display: flex;
}

header section article ul li {
    display: flex;
    align-items: center;
    padding: 5px;
}

header section article ul li p {
    padding: 0px 0px;
    margin: 0px;
    margin-bottom: 0px !important;
    font-size: 15px !important;
    font-weight: 500;
}

header section article ul li p:hover {
    opacity: 0.6;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease !important;
    -ms-transition: all .4s ease !important;
    -o-transition: all .4s ease !important;
}

header section article ul li img {
    height: 24px;
    margin-right: 10px
}

/* Opmaak van de inlog knop */

header section article:last-of-type {
    display: flex;
    padding: 16px 20px;
    background-color: #f6f9fc;
    margin: 5px;
    border-radius: 5px !important;
    text-align: center;
}

header section article:last-of-type div {
    background-color: #635BFF !important;
    width: 50%;
    align-self: center;
    border-radius: 20px;
    padding: 8px;
}

header section article:last-of-type div a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: white;
}


/* ##############################################

    Opmaak van de sectie: Payment infrastructure for the internet

   ##############################################
*/

.home section:first-of-type {
    margin-left: 20px;
}

/* Opmaak van de h1 */

.home section h1:first-of-type {
    margin-top: 100px;
    font-size: 11vw;
    margin-bottom: 0.5em;
    letter-spacing: -2px;
    line-height: 1;
}

/* Opmaak van de eerste alinea met tekst */
.home section p {
    font-size: 18px;
    color: #425466;
    line-height: 1.5;
}

.home section:first-of-type p:first-of-type {
    margin-bottom: 30px;
}

/* Opmaak van de call to action knoppen */

.home section > div {
    display: flex;
}

.home section div:first-of-type div {
    padding: 8px 15px;
}

.home section div:first-of-type div:first-of-type {
    background-color: #0A2450;
    border-radius: 20px;
}

/* Toegankelijkheid: knop vaag maken bij hoveren */
.home section div div:hover {
    opacity: 0.6;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease !important;
    -ms-transition: all .4s ease !important;
    -o-transition: all .4s ease !important;
}

/* Toegankelijkheid: knop weer volle opacity geven als deze geselecteerd wordt */

.home section div div:active {
    opacity: 1;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
}

.home section div div:first-of-type a {
    color: white;
}

.home section div div:nth-of-type(2) a {
    color: #0A2450;
}

.home section div div a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}

/* Opmaak van het logo grid */
.home section:nth-of-type(2) ul {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 100px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 25px;
}

/* Centreer het logo in het midden van zijn vakje */
.home section:nth-of-type(2) ul li {
    justify-self: center;
}

.home section:nth-of-type(2) ul li img {
    height: 50px;
}

/* ##############################################

    Opmaak van de sectie: Unified platform

   ##############################################
*/
.home section:nth-of-type(3) {
    background-color: #f6f9fc;
    padding-top: 60px;
    padding-left: 20px;
}

.home h4 {
    font-size: 18px;
}

.home h4:first-of-type {
    color: #635BFF;
}

.home h2 {
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 40px;
}

.home section:nth-of-type(3) p {
    margin-bottom: 33px;
}

.home section:nth-of-type(3) p a {
    color: #635BFF;
    font-weight: 500;
}

.home section:nth-of-type(3) p a:hover {
    color: black;
}

.home section:nth-of-type(3) article div {
    background-color: #635BFF;
}


/* Banner met vier afbeeldingen vormgeven in een grid */
.home section:nth-of-type(4) {
    display: flex;
    flex-direction: row;
    padding-top: 90px;
    background-color: #f6f9fc;
}

.home section:nth-of-type(4) img {
    margin-bottom: 25px;
    margin-right: 25px;
    border-radius: 10px;
    /* gegenereerd op https://www.cssmatic.com/box-shadow */
    -webkit-box-shadow: 0px 0px 50px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 50px -19px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 50px -19px rgba(0,0,0,0.75);
}

/* randen van afbeelding linksonder */

.home section:nth-of-type(4) aside:first-of-type img:nth-of-type(2) {
    border-radius: 50px 50px 0px 0px;
    margin-bottom: 0px;
}

.home section:nth-of-type(4) aside:last-of-type img:nth-of-type(2) {
    margin-bottom: 0px;
}


/* ##############################################

    Opmaak van de sectie: Designed for developers

   ##############################################
*/

.home section:nth-of-type(5) {
    position: relative;
    padding-left: 3.5vw;
    padding-right: 3.5vw;
    z-index: 1;
    position: absolute;
    padding-top: 80px;
}

/* Het grote blauwe schuine achtergrondvlak */

.home section:nth-of-type(5)::before {
    content: "";
    position: absolute;
    width: 230%;
    height: 110%;
    top: -2.5%;
    left: -40%;
    z-index:-1;
    background-color: #0a2540;
    transform: rotate(-6deg);
}

/* Opmaak h4, h2 en p in deze sectie */

.home section:nth-of-type(5) h4 {
    color: #00D4FF;
}

.home section:nth-of-type(5) h2 {
    color: white;
    margin-bottom: 30px;
}

.home section:nth-of-type(5) p {
    color: #adbdcc;
}

/* Opmaak knop */
.home section:nth-of-type(5) div:first-of-type div{
    background-color: #00D4FF;
    margin-top: 5px;
}

.home section:nth-of-type(5) div:first-of-type div:hover {
    opacity: 1;
    background-color: white;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease !important;
    -ms-transition: all .4s ease !important;
    -o-transition: all .4s ease !important;
}

.home section:nth-of-type(5) div:first-of-type div a {
    color: #0a2540;
}

/* Opmaak van de twee specificaties in deze sectie */

.home section:nth-of-type(5) article:nth-of-type(1),
.home section:nth-of-type(5) article:nth-of-type(2){
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}

.home section:nth-of-type(5) article:nth-of-type(1) img,
.home section:nth-of-type(5) article:nth-of-type(2) img{
    width: 40px;
    margin-bottom: 10px;
}

/* Vormgeving h6 met blauwe lijn links */

.home section:nth-of-type(5) h6 {
    color: white;
    font-size: 15px;
    margin: 10px 0px;
    border-left: solid #00D4FF 1px;
    padding-left: 15px;
    position: relative;
    left: -3.5vw;
    
}

.home section:nth-of-type(5) article p {
    margin-top: 0px;
    margin-bottom: 14px;
    font-size: 15px;
}

/* Vormgeving van link */

.home section:nth-of-type(5) article:nth-of-type(1) a,
.home section:nth-of-type(5) article:nth-of-type(2) a {
    color: #00D4FF;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px
}

.home section:nth-of-type(5) article:nth-of-type(1) a:hover,
.home section:nth-of-type(5) article:nth-of-type(2) a:hover {
    color: white;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease !important;
    -ms-transition: all .4s ease !important;
    -o-transition: all .4s ease !important;
}

/* ##############################################

    Opmaak van de code editor

   ##############################################
*/


.home section:nth-of-type(5) article:nth-of-type(3) {
    display: flex;
    background-color: #0D2E4F;
    border-radius: 10px;
    margin-top: 35px;
    margin-left: -10px;
    width: 100%;
}

.home section:nth-of-type(5) article:nth-of-type(3) ul,
.home section:nth-of-type(5) article:nth-of-type(5) ul {
    list-style-type: none;
    padding-left: 0px;
    color: white;
}

.home section:nth-of-type(5) article:nth-of-type(3) main {
    border: none;
}

.home section:nth-of-type(5) article:nth-of-type(3) aside ul {
    color: #55718D;
}

.home section:nth-of-type(5) article:nth-of-type(3) aside,
.home section:nth-of-type(5) article:nth-of-type(3) main,
.home section:nth-of-type(5) article:nth-of-type(5) {
    padding: 0px 0px 0px 25px;
    line-height: 1.6;
    font-family: 'courier';
    font-size: 15px;
}

/* Bron: typen animatie: https://css-tricks.com/snippets/css/typewriter-effect/ */

.home section:nth-of-type(5) article:nth-of-type(3) main ul,
.home section:nth-of-type(5) article:nth-of-type(5) ul {
  overflow: hidden; /* Zorgt ervoor dat content verborgen blijft tot het typen */
  text-align: left;
  opacity: 0;
  margin-left: 0px;
}

.typeneditor {
    opacity: 1 !important;
    animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* Het effect van het typen */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* De cursor die de tekst schrijft */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #0D2E4F; }
}

.home section:nth-of-type(5) article:nth-of-type(5) ul  {
    height: 50vw;
}

.home section:nth-of-type(5) article:nth-of-type(3) main ul li:nth-of-type(4),
.home section:nth-of-type(5) article:nth-of-type(3) main ul li:nth-of-type(5) {
    margin-left: 17px
}

/* De kleuren van de code in de code editor */

.orange {
    color: #FFA956;
}

.purple {
    color: #8095FF;
}

.blue {
    color: #00D4FF;
}

.yellow {
    color: #FFD96A;
}

.grey {
    color: #55718D;
}

.purple-background {
    background-color: #8095FF;
    color: #0a2540;
    padding: 5px;
}


/* Opmaak van het tussenstukje tekst */
.home section:nth-of-type(5) article:nth-of-type(4) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'courier';
    margin-left: -10px;
    width: 100%;
}

.home section:nth-of-type(5) article:nth-of-type(4) p {
    background-color: none;
    line-height: 1;
    margin-bottom: 0px;
    padding: 6px 6px 6px 0px;
}

/* Opmaak van de tweede code editor */

.home section:nth-of-type(5) article:nth-of-type(5) {
    background-color: #06182c;
    border: 1px solid #0D2E4F;
    border-radius: 10px;
    margin-left: -10px;
    width: 100%;
}

.home section:nth-of-type(5) article:nth-of-type(5) main {
    border: none;
}

/* ##############################################

    Opmaak van de sectie: Why Stripe

   ##############################################
*/

.home section:nth-of-type(6) {
    margin-top: 110em;
    padding-left: 15px;
    display: inline-block;
}

/* Opmaak van de twee specificaties in deze sectie */

.home section:nth-of-type(6) article {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}

.home section:nth-of-type(6) article img {
    width: 40px;
    margin-bottom: 10px;
}

/* Vormgeving h6 met blauwe lijn links */

.home section:nth-of-type(6) h6 {
    color: #0A2540;
    font-size: 15px;
    margin: 10px 0px;
    border-left: solid #635BFF 1px;
    padding-left: 15px;
    position: relative;
    left: -16px;
}

.home section:nth-of-type(6) article p {
    margin-top: 0px;
    margin-bottom: 14px;
    font-size: 15px;
}

/* Vormgeving van link */

.home section:nth-of-type(6) article a {
    color: #635BFF;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px
}

.home section:nth-of-type(6) article a:hover {
    color: black;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;

}


/* ##############################################

    Opmaak van de sectie: Global Scale

   ##############################################
*/

.home iframe {
    margin-left: -4%;
    z-index: -1;
    margin-top: 10vh;
}

.home section:nth-of-type(7) {
    margin-bottom: 30px;
    padding-left: 3.5vw;
    padding-right: 3.5vw;
    margin-top: -105vh;
    z-index: 5;
    position: relative;
    padding-top: 80px;
}

/* Opmaak h4, h2 en p in deze sectie */

.home section:nth-of-type(7) h4 {
    color: #00D4FF;
}

.home section:nth-of-type(7) h2 {
    color: white;
    margin-bottom: 30px;
}

.home section:nth-of-type(7) p {
    color: #adbdcc;
}

.home section:nth-of-type(7) a {
    color: #00D4FF;
    font-weight: 500;
}

.home section:nth-of-type(7) a:hover {
    color: white;
}

/* Opmaak knop */
.home section:nth-of-type(7) article:first-of-type div{
    background-color: #00D4FF;
    margin-top: 5px;
}

.home section:nth-of-type(7) article:first-of-type div:hover {
    opacity: 1;
    background-color: white;
    
}

.home section:nth-of-type(7) article:first-of-type div a {
    color: #0a2540;
}

/* Opmaak van de twee specificaties in deze sectie */


.home section:nth-of-type(7) article:nth-of-type(2) img,
.home section:nth-of-type(7) article:nth-of-type(3) img{
    width: 40px;
    margin-bottom: 10px;
}

/* Vormgeving h3 met blauwe lijn links */

.home section:nth-of-type(7) article {
    display: flex;
    flex-direction: column;
}

.home section:nth-of-type(7) h3 {
    color: white;
    font-size: 25px;
    margin: 10px 0px;
    border-left: solid #00D4FF 1px;
    padding-left: 15px;
    position: relative;
    left: -3.5vw;    
}

.home section:nth-of-type(7) article p {
    margin-top: 0px;
    margin-bottom: 14px;
    font-size: 15px;
}


/* ##############################################

    Opmaak van de sectie: Ready to get started?

   ##############################################
*/

.home section:nth-of-type(8) {
    margin-top: 150px;
    margin-bottom: 150px;
    padding-left: 15px;
    display: inline-block;
}

/* Opmaak van de twee specificaties in deze sectie */

.home section:nth-of-type(8) article {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}

.home section:nth-of-type(8) div:first-of-type {
    display: flex;
    flex-direction: row;
}

.home section:nth-of-type(8) div:first-of-type div:first-of-type {
    background-color: #635BFF;
}

.home section:nth-of-type(8) div:first-of-type div:first-of-type:hover {
    background-color: black;
    opacity: 1;
    color: white;
}

.home section:nth-of-type(8) div:first-of-type div:first-of-type a:hover {
    color: white;
}

.home section:nth-of-type(8) div:first-of-type div:last-of-type a {
    color: #635BFF;
}

.home section:nth-of-type(8) div:first-of-type div:hover {
    opacity: 1;
}

.home section:nth-of-type(8) div:first-of-type div:last-of-type a:hover {
    color: black;
}

.home section:nth-of-type(8) article img {
    width: 40px;
    margin-bottom: 10px;
}

/* Vormgeving h6 met blauwe lijn links */

.home section:nth-of-type(8) h6 {
    color: #0A2540;
    font-size: 15px;
    margin: 10px 0px;
    border-left: solid #635BFF 1px;
    padding-left: 15px;
    position: relative;
    left: -16px;
}

.home section:nth-of-type(8) article p {
    margin-top: 0px;
    margin-bottom: 14px;
    font-size: 15px;
}

/* Vormgeving van link */

.home section:nth-of-type(8) article a {
    color: #635BFF;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px
}

.home section:nth-of-type(8) p a {
        color: #635BFF;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px
}

.home section:nth-of-type(8) article a:hover,
.home section:nth-of-type(8) p a:hover {
    color: black;
}


/* ##############################################

    Opmaak van de sectie: Footer

   ##############################################
*/

footer {
    position: relative;
    padding-left: 25px;
}

.about footer {
    background-color: #f6f9fc;
    border-top: 2px solid rgba(207,215,223,.25);
}

footer img {
    width: 65px;
    margin-bottom: 5px;
}

footer > div:last-of-type {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 750px;
}

.home footer > div::before {
    content: "";
    position: absolute;
    width: 230%;
    height: 110%;
    top: -2.5%;
    left: -40%;
    z-index:-1;
    background-color: #f6f9fc;
    transform: rotate(-6deg);
}

footer > div:first-of-type {
    display: flex;
    padding-top: 120px;
    flex-direction: column;
    font-size: 15px;
}

.about footer > div:first-of-type {
    padding-top: 60px;
}

/* Vormgeving van de talenswitcher */
footer > div:first-of-type div {
    display: flex;
    align-items: center;
    line-height: 1.8;
}

footer > div:first-of-type a {
    text-decoration: none;
    color: #0A2540;
}

footer > div:first-of-type div img {
    width: 13px;
    margin-right: 10px;
    padding-top: 5px;
}

footer > div > div {
    color: #0A2540;
    font-size: 15px;
    line-height: 1.8;
}

footer > div > div:first-of-type {
    padding-right: 50px;
}

footer h6 {
    font-size: 15px;
    margin-bottom: 0px;
    margin-top: 10px;
    padding-bottom: 0px;
}

footer ul {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 10px;
}

footer ul li:hover {
    opacity: 0.6;
}

footer p {
    font-size: 15px;
}



/* ##############################################

    Opmaak van de About page

   ##############################################
*/

.about {
    grid-template-columns: 100vw;
    width: 100%;
}

/* Afstand tekts van menu goedzetten */

.about header section ul {
    margin-left: 8vw;
}

.about > section {
    display: relative !important;
}

/* Geen header achtergrond bij de about page */
.about header::before  {
    display: none;
}

/* ##############################################

    Opmaak van Our Mission

   ##############################################
*/

/* Stijl van h1 aanpassen */

.about h1 {
    font-weight: 400;
    color: #32325D;
    font-size: 45px !important;
    text-align: center;
    letter-spacing: 0.5px;
    line-height: 1.2;
    margin-top: 80px;
    padding-left: 5vw;
    padding-right: 5vw;
}

.about > section:nth-of-type(1) p {
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    line-height: 1.6;
    color: #424770;
    padding-left: 5vw;
    padding-right: 5vw;
}

/* ##############################################

    Opmaak van The potential of the online economy

   ##############################################
*/

.about section:nth-of-type(2) {
    background-color: #f6f9fc;
    margin-top: -1vh;
    padding-top: 10vw;
    padding-left: 5vw;
    padding-right: 5vw;
}

.about section:nth-of-type(2) h2 {
    color: #32325D;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-align: left;
    padding-left: 0px;
    font-size: 24px;
}

.about section:nth-of-type(2) p {
    font-size: 19px;
    font-weight: 300;
    color: #525F7F;
    line-height: 1.6;
}

.about section:nth-of-type(2) p span {
    font-weight: 500;
}

.about section:nth-of-type(2) > p:last-of-type {
    color: #AAB7C4;
    font-size: 13px;
    margin-bottom: 35px;
}

/* De grafiek met schaduw */

.about section:nth-of-type(2) img {
    border-radius: 5px;
    /* gegenereerd op https://www.cssmatic.com/box-shadow */
    -webkit-box-shadow: 0px 0px 50px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 50px -19px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 50px -19px rgba(0,0,0,0.75);
    width: 100%;
}

/* Opmaak van de x-as */

.about section:nth-of-type(2) ul:first-of-type {
    display: flex;
    flex-direction: row;
}

.about section:nth-of-type(2) ul:first-of-type li {
    list-style-type: none;
    color: #aab7c4;
    font-size: 14px;
    margin-left: 25px;
    font-weight: 500;
    margin-top: -14px;
}

/* Opmaak van de legenda van de grafiek */

.about section:nth-of-type(2) ul:last-of-type {
    padding-left: 4vw;
    margin-bottom: 50px;
}

.about section:nth-of-type(2) ul:last-of-type li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about section:nth-of-type(2) ul:last-of-type li p {
    color: #8898AA;
    font-size: 15px;
    font-weight: 500;
    line-height: 0;
}

.about section:nth-of-type(2) ul:last-of-type li div {
    width: 9px;
    height: 9px;
    margin-right: 6px;
}

.about section:nth-of-type(2) ul:last-of-type li:first-of-type div {
    background-color: #5DC9FF;
}

.about section:nth-of-type(2) ul:last-of-type li:last-of-type div{
    background-color: #5E6CFB;
}

/* ##############################################

    Opmaak van The new payments stack

   ##############################################
*/

.about section:nth-of-type(3) h2 {
    font-weight: 400;
    color: #32325D;
    font-size: 30px !important;
    text-align: center;
    letter-spacing: 0.5px;
    line-height: 1.2;
    margin-top: 60px;
    padding-left: 5vw;
    padding-right: 5vw;
}

.about > section:nth-of-type(3) > p:first-of-type {
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    line-height: 1.6;
    color: #424770;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-bottom: 60px;
}

.about > section:nth-of-type(3) ul {
    display: flex;
    border-radius: 5px;
    /* gegenereerd op https://www.cssmatic.com/box-shadow */
    -webkit-box-shadow: 0px 0px 24px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 24px -12px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 24px -12px rgba(0,0,0,0.75);
    padding: 10px;
    margin: 15px;
    margin-top: 45px;
}

/* Animatie van elementen */

.hidden {
    opacity: 0;
}

@keyframes fade-in {
    from {opacity: 0; transform: scale(.8,.8)}
    to {opacity: 1;}
}

.fade-in-element {
    animation: fade-in 1.4s;
}

/* Opmaak van lijst iconen */

.about > section:nth-of-type(3) ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px 0px;
    margin: 0px 5px;
    background-color: grey;
    border-radius: 5px;
}

.about > section:nth-of-type(3) ul li p {
    margin: 3px 5px 0px;
    color: white;
    font-weight: 500;
    font-size: 13px;
}

.about > section:nth-of-type(3) ul li img {
    width: 35px;
}

/* De kleuren van de achtergronden van de iconen */

.about > section:nth-of-type(3) ul:first-of-type li:nth-of-type(1) {
    background-color: #DB78DD;
    flex-grow: 2;
}

.about > section:nth-of-type(3) ul:first-of-type li:nth-of-type(2) {
    background-color: #A688D7;
    flex-grow: 2;
}

.about > section:nth-of-type(3) ul:first-of-type li:nth-of-type(3) {
    background-color: #3ECF8E;
    flex-grow: 2;
}

.about > section:nth-of-type(3) ul:first-of-type li:nth-of-type(4) {
    background-color: #F0B64B;
    flex-grow: 2;
}

/* De kleuren van de tweede rij iconen */
.about > section:nth-of-type(3) ul:last-of-type li:nth-of-type(1) {
    background-color: #818BF0;
    flex-grow: 2;
}

.about > section:nth-of-type(3) ul:last-of-type li:nth-of-type(2) {
    background-color: #45B2E8;
    flex-grow: 2;
}

/* De opmaak van de tussentekstjes */

.about > section:nth-of-type(3) article {
    padding: 0vw 6vw;
}

.about > section:nth-of-type(3) article h4 {
    letter-spacing: 1.4px;
    font-weight: 500;
    color: #32325D;
    margin-bottom: 0px;
}

.about > section:nth-of-type(3) article p {
    font-weight: 300;
    font-size: 17px;
    line-height: 1.5;
    color: #525F7F;
    margin-top: 10px;
}

.about > section:nth-of-type(3) article:last-of-type {
    margin-bottom: 80px;
}

/* De afbeelding van het sjabloon */
.about > section:nth-of-type(3) > img {
    /* gegenereerd op https://www.cssmatic.com/box-shadow */
    -webkit-box-shadow: 0px 0px 24px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 24px -12px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 24px -12px rgba(0,0,0,0.75);
    border-radius: 15px;
    margin-left: 15px;
    margin-top: 25px;
    width: 93%;
}


/* ##############################################

    Opmaak van Solutions rooted in code design

   ##############################################
*/

.about > section:nth-of-type(4) {
    background-color: #f6f9fc;
    margin-bottom: 0px !important;
    border-bottom: none;
    padding-bottom: 0px !important;
}

.about section:nth-of-type(4) h2 {
    font-weight: 400;
    color: #32325D;
    font-size: 30px !important;
    text-align: center;
    letter-spacing: 0.5px;
    line-height: 1.2;
    margin-top: 80px;
    padding-left: 5vw;
    padding-right: 5vw;
}

.about > section:nth-of-type(4) > p:first-of-type {
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    line-height: 1.6;
    color: #424770;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-bottom: 30px;
}

.about > section:nth-of-type(4) article {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}

.about > section:nth-of-type(4) article h6 {
    font-size: 20px;
    font-weight: 400;
    margin: 5px 0px;
    color: #32325D;
}

.about > section:nth-of-type(4) article p {
    font-weight: 300;
    color: #525F7F;
    font-size: 17px;
    line-height: 1.5;
    margin-top: 7px;
    margin-right: 15px;
    margin-bottom: 35px;
}

.about > section:nth-of-type(4) article a {
    font-weight: 400;
    color: #6772E5;
}

.about > section:nth-of-type(4) article a:hover {
    color: black;
}

.about > section:nth-of-type(4) article img {
    height: 40px;
    margin-right: 14px;
    margin-left: 12px;
}

/* Opmaak van Engineering at scale */

.about > section:nth-of-type(4) article:last-of-type {
    /* gegenereerd op https://www.cssmatic.com/box-shadow */
    -webkit-box-shadow: 0px 0px 50px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 50px -19px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 50px -19px rgba(0,0,0,0.75);
    border-radius: 5px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 50px;
    z-index: 5 !important;
    margin-bottom: 45px
}

.about > section:nth-of-type(4) article:last-of-type img {
    margin: 0;
    height: 200px;
    border-radius: 5px;
}

.about > section:nth-of-type(4) article:last-of-type h6 {
    margin: 25px 20px 25px 30px;
    font-weight: 300;
}

.about > section:nth-of-type(4) article:last-of-type p {
    margin: 0px 20px 20px 30px;
}

.about > section:nth-of-type(4) article:last-of-type p span {
    font-style: italic;
}

.about > section:nth-of-type(4) article:last-of-type div {
    background-color: #6772E5;
    margin: 15px 20px 30px 30px;
    border-radius: 5px;
    display: flex;
    min-width: 150px;
    width: 165px;    
}

.about > section:nth-of-type(4) article:last-of-type div:hover {
    opacity: 0.8;
    transform: translateY(-2px);
}

.about > section:nth-of-type(4) article:last-of-type a {
    color: white;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.5px;
    padding: 10px 15px;
    text-decoration: none;
}

/* Overgangsafbeeldingen */

.about > section:nth-of-type(4) > img:last-of-type {
    z-index: -5 !important;
    width: 100%;
    margin-bottom: -10px;
}

/* ##############################################

    Opmaak van Removing financial complexity

   ##############################################
*/

.about > section:nth-of-type(5) {

}

.about > section:nth-of-type(5) iframe {
    margin-left: -14%;
    z-index: -1;
    margin-top: 0vh;
}

.about section:nth-of-type(5) h2 {
    font-weight: 400;
    color: #32325D;
    font-size: 30px !important;
    text-align: center;
    letter-spacing: 0.5px;
    line-height: 1.2;
    margin-top: 30px;
    padding-left: 5vw;
    padding-right: 5vw;
}

.about > section:nth-of-type(5) > p:first-of-type {
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    line-height: 1.6;
    color: #424770;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-bottom: 20px;
}

/* ##############################################

    Opmaak van From startups to the world's 

   ##############################################
*/

.about > section:nth-of-type(6) {
    background-color: #f6f9fc;
    text-align: center;
}

.about > section:nth-of-type(6) img {
    width: 84%;
    margin-top: 25px;
}

.about section:nth-of-type(6) h2 {
    font-weight: 400;
    color: #32325D;
    font-size: 30px !important;
    text-align: center;
    letter-spacing: 0.5px;
    line-height: 1.2;
    margin-top: 60px;
    padding-left: 5vw;
    padding-right: 5vw;
}

.about > section:nth-of-type(6) > p:first-of-type {
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    line-height: 1.6;
    color: #424770;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-bottom: 20px;
}

.about > section:nth-of-type(6) article {
    margin: 50px 20px 60px 20px;
    border-radius: 5px;
    border: 2px solid #e6ebf1;
    padding: 15px 30px;
    text-align: left;
}

.about > section:nth-of-type(6) article p {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
}

.about > section:nth-of-type(6) article p a:hover {
    color: black;
}

.about > section:nth-of-type(6) article p span:first-of-type {
    font-weight: 300;
}

.about > section:nth-of-type(6) article p span:last-of-type {
    color: #6772E5;
}

/* ##############################################

    Opmaak van Headquarters

   ##############################################
*/

.about section:nth-of-type(7) h2 {
    font-weight: 300;
    color: #32325D;
    font-size: 27px !important;
    text-align: left;
    letter-spacing: 0.5px;
    line-height: 1.3;
    margin-top: 80px;
    padding-left: 5vw;
    padding-right: 5vw;
}

.about section:nth-of-type(7) ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    list-style-type: none;
    padding-left: 5vw;
    padding-right: 2vw;
}

.about section:nth-of-type(7) ul li {
    padding-right: 10px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.about section:nth-of-type(7) ul li h4 {
    color: #3292DF;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0px;
}

.about section:nth-of-type(7) ul li p {
    margin-top: 10px;
    font-size: 17px;
    color: #525F7F;
}

/* ##############################################

    Opmaak van de twee grote knoppen

   ##############################################
*/

.about section:nth-of-type(8)  {
    background-color: #f6f9fc;
    padding-bottom: 25px;
}

.about section:nth-of-type(8) article {
    margin: 20px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 30px 30px 30px 0px;
    /* gegenereerd op https://www.cssmatic.com/box-shadow */
    -webkit-box-shadow: 0px 0px 50px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 50px -19px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 50px -19px rgba(0,0,0,0.75);
}

.about section:nth-of-type(8) article img {
    object-fit: cover;
    align-self: center;
    margin-right: 20px;
}

.about section:nth-of-type(8) article p {
    font-size: 17px;
    font-weight: 300;
    margin-top: 10px;
    line-height: 1.5;
    margin-bottom: 10px;
    color: #525f7f;
}

.about section:nth-of-type(8) article h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0px !important;
}

.about section:nth-of-type(8) article:first-of-type h3 {
    color: #6772e5;
}

.about section:nth-of-type(8) article:last-of-type h3 {
    color: #24b47e
}

.about section:nth-of-type(8) article div {
    
}

.about section:nth-of-type(8) article:hover {
    transform: translateY(-5px);
    
    /* Bron zwart-wit maken: https://www.w3schools.com/howto/howto_css_image_bw.asp */
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

/* ##############################################

    Opmaak van de het email formulier

   ##############################################
*/

.about section:nth-of-type(9) {
    background-color: #f6f9fc;
    margin-top: 0px;
    padding-left: 5vw;
    padding-right: 5vw;
}

.about section:nth-of-type(9) h2 {
    font-weight: 400;
    color: #32325D;
    font-size: 28px !important;
    text-align: left;
    letter-spacing: 0.5px;
    line-height: 1.3;
    margin-bottom: 0px;
}

.about section:nth-of-type(9) p {
    margin-top: 5px;
    font-size: 18px;
    line-height: 1.7;
    color: #525f7f;
}

.about section:nth-of-type(9) > p:last-of-type {
    font-size: 13.5px;
    color: #8898aa;
}

.about section:nth-of-type(9) > p:last-of-type a {
    color: #6772e5;
    font-weight: 500;
}

/* Opmaak van het formulier */

.about section:nth-of-type(9) form {
    display: flex;
    flex-direction: row;
    margin-right: 70px;
    -webkit-box-shadow: 0 2px 5px -1px rgba(50,50,93,.25), 0 1px 3px -1px rgba(0,0,0,.3);
    box-shadow: 0 2px 5px -1px rgba(50,50,93,.25), 0 1px 3px -1px rgba(0,0,0,.3);
    border-radius: 10px;
}

.about section:nth-of-type(9) form input:first-of-type {
    flex-grow: 2;
    padding: 10px 15px;
    border: none;
    font-size: 16px;
    color: #C3CAD4;
    border-radius: 5px 0px 0px 5px;
}

.about section:nth-of-type(9) form input:first-of-type:focus {
    color: black;
}

.about section:nth-of-type(9) form input:last-of-type {
    background-color: white;
    border-radius: 0px 5px 5px 0px;
    border: none;
    border-left: 2px solid #f6f9fc;
    color: #6772e5;
    font-weight: 600;
    padding: 15px;
    font-size: 15px;
    letter-spacing: 0.4px;
}

.about section:nth-of-type(9) form input:last-of-type:hover {
    opacity: 0.7;
}

.about section:nth-of-type(9) form input:last-of-type:focus {
    background-color: #f6f9fc;
    color: darkmagenta;
}