@font-face {
  font-family: 'sohne';
  src: url('https://eliaspoolman.github.io/blokweb/fonts/sohne/soehne-300.woff') format('woff'); 
  font-weight: 300;
}

@font-face {
  font-family: 'sohne';
  src: url('https://eliaspoolman.github.io/blokweb/fonts/sohne/soehne-400.woff') format('woff'); 
  font-weight: 400;
}

@font-face {
  font-family: 'sohne';
  src: url('https://eliaspoolman.github.io/blokweb/fonts/sohne/soehne-500.woff') format('woff'); 
  font-weight: 500;
}

@font-face {
  font-family: 'sohne';
  src: url('https://eliaspoolman.github.io/blokweb/fonts/sohne/soehne-600.woff') format('woff'); 
  font-weight: 600;
}



/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

body {
    margin: 0px;
}

body > container {
    font-family: "sohne","Helvetica Neue","Arial",sans-serif;
    padding: 20px 0px;
    display: grid;
    grid-template-columns: 3.5vw 93vw 3.5vw;
    position: absolute;
    
    /* Bron: https://medium.com/better-programming/improving-font-rendering-with-css-3383fc358cbc*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    border-left: 0.5px solid #eee;
    border-right: 0.5px solid #eee;
    z-index: 5;
}

/* Opmaak van de header */

header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px 5px 20px ;
}


/* Vormgeving van de schuine achtergrond 
   Bron: https://www.sitepoint.com/css3-transform-background-image/ */

header::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 635%;
    top: -150%;
    left: -52.5%;   
    z-index: -1;
    background-color: red;
    transform: rotate(-11deg);
    
    /* Bron: https://www.w3schools.com/cssref/pr_background-image.asp */
    background-image: url("https://eliaspoolman.github.io/blokweb/images/hero-background.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain;
}

/* Opmaak van het logo */

header > a > img {
    width: 60px;
}

/* Opmaak van het menu-icoontje */

header nav {
    /* doorzichtig grijze achtergrondkleur van knop */
    background-color: hsla(0,0%,100%,0.2);
    
    /* rond maken van de menu-knop */
    border-radius: 20px; 
    padding: 10px 15px;
    margin: 8px;
    
    /* positioneren van menu-icoontje */
    display: flex;
    align-items: center;
}

/* hover effect menu knopje 
   bron: https://stackoverflow.com/questions/19469495/css-slow-hover-effect
*/

header nav:hover {
    background-color: hsla(0,0%,100%,0.4);
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease !important;
    -ms-transition: all .4s ease !important;
    -o-transition: all .4s ease !important;
}

a:hover,
footer li:hover {
    transition: all .4s ease !important;
    -webkit-transition: all .4s ease !important;
    -moz-transition: all .4s ease !important;
    -ms-transition: all .4s ease !important;
    -o-transition: all .4s ease !important;
}


/* instelling voor de afbeelding van de menu-knop */
header nav img {
    width: 15px;
}

/* Opmaak van het uitklapmenu */

header section {
    width: 100%;
    background-color: white;
    position: absolute;
    top: 0px;
    left: -25px;
    border-radius: 10px;
    
    /* gegenereerd op https://www.cssmatic.com/box-shadow */
    -webkit-box-shadow: 0px 0px 50px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 50px -19px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 50px -19px rgba(0,0,0,0.75);
}

.menustripe {
    display: none !important;
}

header section article {
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
}

header section > article:first-of-type {
    flex-direction: row;
    align-items: center;
    justify-content: space-between
}

header section article:first-of-type img {
    height: 20px;
    margin-right: 25px;
    margin-top: 30px;
}

header section article:nth-of-type(3) {
    border-top: 2px #f6f9fc dashed;
}

header section article h6 {
    margin-left: 50px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0px;
    opacity: 0.4;
}

header section article ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 170px;
}

header section article ul li {
    display: flex;
    align-items: center;
    padding: 5px;
}

header section article ul li p {
    padding: 0px 0px;
    margin: 0px;
    margin-bottom: 0px !important;
    font-size: 15px;
    font-weight: 500;
}

header section article ul li p:hover {
    opacity: 0.6;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease !important;
    -ms-transition: all .4s ease !important;
    -o-transition: all .4s ease !important;
}

header section article ul li img {
    height: 24px;
    margin-right: 10px
}

header section article:last-of-type {
    display: flex;
    padding: 6px 20px;
    background-color: #f6f9fc;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    
}

header section article:last-of-type div {
    background-color: #635BFF !important;
    width: 50%;
    align-self: center;
}



/* ##############################################

    Opmaak van de sectie: Payment infrastructure for the internet

   ##############################################
*/

section:first-of-type {
    margin-left: 20px;
}

/* Opmaak van de h1 */

section h1:first-of-type {
    margin-top: 100px;
    font-size: 11vw;
    margin-bottom: 0.5em;
    letter-spacing: -2px;
    line-height: 1;
}

/* Opmaak van de eerste alinea met tekst */
section p {
    font-size: 18px;
    color: #425466;
    line-height: 1.5;
}

section:first-of-type p:first-of-type {
    margin-bottom: 30px;
}

/* Opmaak van de call to action knoppen */

section article {
    display: flex;
}

section article:first-of-type div {
    padding: 8px 15px;
}

section article:first-of-type div:first-of-type {
    background-color: #0A2450;
    border-radius: 20px;
}

/* knop vaag maken bij hoveren */
section article div:hover {
    opacity: 0.6;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease !important;
    -ms-transition: all .4s ease !important;
    -o-transition: all .4s ease !important;
}

section article div:first-of-type a {
    color: white;
}

section article div:nth-of-type(2) a {
    color: #0A2450;
}

section article div a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}

/* Opmaak van het logo grid */
section:nth-of-type(2) ul {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 100px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 25px;
}

/* Centreer het logo in het midden van zijn vakje */
section:nth-of-type(2) ul li {
    justify-self: center;
}

section:nth-of-type(2) ul li img {
    height: 50px;
}

/* ##############################################

    Opmaak van de sectie: Unified platform

   ##############################################
*/
section:nth-of-type(3) {
    background-color: #f6f9fc;
    padding-top: 60px;
    padding-left: 20px;
}

h4 {
    font-size: 18px;
}

h4:first-of-type {
    color: #635BFF;
}

h2 {
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 40px;
}

section:nth-of-type(3) p {
    margin-bottom: 33px;
}

section:nth-of-type(3) p a {
    color: #635BFF;
    font-weight: 500;
}

section:nth-of-type(3) p a:hover {
    color: black;
}

section:nth-of-type(3) article div {
    background-color: #635BFF;
}


/* Banner met vier afbeeldingen vormgeven in een grid */
section:nth-of-type(4) {
    display: flex;
    flex-direction: row;
    padding-top: 90px;
    background-color: #f6f9fc;
}

section:nth-of-type(4) img {
    margin-bottom: 25px;
    margin-right: 25px;
    border-radius: 10px;
    /* gegenereerd op https://www.cssmatic.com/box-shadow */
    -webkit-box-shadow: 0px 0px 50px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 50px -19px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 50px -19px rgba(0,0,0,0.75);
}

/* randen van afbeelding linksonder */

section:nth-of-type(4) aside:first-of-type img:nth-of-type(2) {
    border-radius: 50px 50px 0px 0px;
    margin-bottom: 0px;
}

section:nth-of-type(4) aside:last-of-type img:nth-of-type(2) {
    margin-bottom: 0px;
}


/* ##############################################

    Opmaak van de sectie: Designed for developers

   ##############################################
*/
section:nth-of-type(5) {
    position: relative;
    margin-bottom: 830px;
    padding-left: 3.5vw;
    padding-right: 3.5vw;
}

/* Het grote blauwe schuine achtergrondvlak */

section:nth-of-type(5) container::before {
    content: "";
    position: absolute;
    width: 230%;
    height: 110%;
    top: -2.5%;
    left: -40%;
    z-index:-1;
    background-color: #0a2540;
    transform: rotate(-6deg);
}

/* De tekst boven de achtergrond plaatsen */ 
section:nth-of-type(5) container {
    z-index: 5;
    position: absolute;
    padding-top: 80px;
}

/* Opmaak h4, h2 en p in deze sectie */

section:nth-of-type(5) container h4 {
    color: #00D4FF;
}

section:nth-of-type(5) container h2 {
    color: white;
    margin-bottom: 30px;
}

section:nth-of-type(5) container p {
    color: #adbdcc;
}

/* Opmaak knop */
section:nth-of-type(5) container article:first-of-type div{
    background-color: #00D4FF;
    margin-top: 5px;
}

section:nth-of-type(5) container article:first-of-type div:hover {
    opacity: 1;
    background-color: white;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease !important;
    -ms-transition: all .4s ease !important;
    -o-transition: all .4s ease !important;
}

section:nth-of-type(5) container article:first-of-type div a {
    color: #0a2540;
}

/* Opmaak van de twee specificaties in deze sectie */

section:nth-of-type(5) container article:nth-of-type(2),
section:nth-of-type(5) container article:nth-of-type(3){
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}

section:nth-of-type(5) container article:nth-of-type(2) img,
section:nth-of-type(5) container article:nth-of-type(3) img{
    width: 40px;
    margin-bottom: 10px;
}

/* Vormgeving h6 met blauwe lijn links */

section:nth-of-type(5) container h6 {
    color: white;
    font-size: 15px;
    margin: 10px 0px;
    border-left: solid #00D4FF 1px;
    padding-left: 15px;
    position: relative;
    left: -3.5vw;
    
}

section:nth-of-type(5) container article p {
    margin-top: 0px;
    margin-bottom: 14px;
    font-size: 15px;
}

/* Vormgeving van link */

section:nth-of-type(5) container article:nth-of-type(2) a,
section:nth-of-type(5) container article:nth-of-type(3) a {
    color: #00D4FF;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px
}

section:nth-of-type(5) container article:nth-of-type(2) a:hover,
section:nth-of-type(5) container article:nth-of-type(3) a:hover {
    color: white;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease !important;
    -ms-transition: all .4s ease !important;
    -o-transition: all .4s ease !important;
}

/* ##############################################

    Opmaak van de code editor

   ##############################################
*/


section:nth-of-type(5) container article:nth-of-type(4) {
    display: flex;
    background-color: #0D2E4F;
    border-radius: 10px;
    margin-top: 35px;
    margin-left: -10px;
    width: 100%;
}

section:nth-of-type(5) container article:nth-of-type(4) ul,
section:nth-of-type(5) container article:nth-of-type(6) ul {
    list-style-type: none;
    padding-left: 0px;
    color: white;
}

section:nth-of-type(5) container article:nth-of-type(4) main {
    border: none;
}

section:nth-of-type(5) container article:nth-of-type(4) aside ul {
    color: #55718D;
}

section:nth-of-type(5) container article:nth-of-type(4) aside,
section:nth-of-type(5) container article:nth-of-type(4) main,
section:nth-of-type(5) container article:nth-of-type(6) {
    padding: 0px 0px 0px 25px;
    line-height: 1.6;
    font-family: 'courier';
    font-size: 15px;
}

section:nth-of-type(5) container article:nth-of-type(4) main ul li:nth-of-type(4),
section:nth-of-type(5) container article:nth-of-type(4) main ul li:nth-of-type(5) {
    margin-left: 17px
}

/* De kleuren van de code */

.orange {
    color: #FFA956;
}

.purple {
    color: #8095FF;
}

.blue {
    color: #00D4FF;
}

.yellow {
    color: #FFD96A;
}

.grey {
    color: #55718D;
}

.purple-background {
    background-color: #8095FF;
    color: #0a2540;
    padding: 5px;
}


/* Opmaak van het tussenstukje tekst */
section:nth-of-type(5) container article:nth-of-type(5) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'courier';
    margin-left: -10px;
    width: 100%;
}

section:nth-of-type(5) container article:nth-of-type(5) p {
    background-color: none;
    line-height: 1;
    margin-bottom: 0px;
    padding: 6px 6px 6px 0px;
}

/* Opmaak van de tweede code editor */

section:nth-of-type(5) container article:nth-of-type(6) {
    background-color: #06182c;
    border: 1px solid #0D2E4F;
    border-radius: 10px;
    margin-left: -10px;
    width: 100%;
}

section:nth-of-type(5) container article:nth-of-type(6) main {
    border: none;
}

/* ##############################################

    Opmaak van de sectie: Why Stripe

   ##############################################
*/

section:nth-of-type(6) {
    margin-top: 950px;
    padding-left: 15px;
    display: inline-block;
}

/* Opmaak van de twee specificaties in deze sectie */

section:nth-of-type(6) article {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}

section:nth-of-type(6) article img {
    width: 40px;
    margin-bottom: 10px;
}

/* Vormgeving h6 met blauwe lijn links */

section:nth-of-type(6) h6 {
    color: #0A2540;
    font-size: 15px;
    margin: 10px 0px;
    border-left: solid #635BFF 1px;
    padding-left: 15px;
    position: relative;
    left: -16px;
}

section:nth-of-type(6) article p {
    margin-top: 0px;
    margin-bottom: 14px;
    font-size: 15px;
}

/* Vormgeving van link */

section:nth-of-type(6) article a {
    color: #635BFF;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px
}

section:nth-of-type(6) article a:hover {
    color: black;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;

}


/* ##############################################

    Opmaak van de sectie: Global Scale

   ##############################################
*/

section:nth-of-type(7) {
    position: relative;
    margin-bottom: 830px;
    padding-left: 3.5vw;
    padding-right: 3.5vw;
    margin-top: 50px;
}

/* Het grote blauwe schuine achtergrondvlak */

section:nth-of-type(7) container::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 120vh;
    max-height: 975px;
    top: -2%;
    left: -8%;
    z-index:-1;
    
    /* Bron: https://www.w3schools.com/cssref/pr_background-image.asp */
    background-image: url("https://eliaspoolman.github.io/blokweb/images/earth.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

/* De tekst boven de achtergrond plaatsen */ 
section:nth-of-type(7) container {
    z-index: 5;
    position: absolute;
    padding-top: 80px;
}

/* Opmaak h4, h2 en p in deze sectie */

section:nth-of-type(7) container h4 {
    color: #00D4FF;
}

section:nth-of-type(7) container h2 {
    color: white;
    margin-bottom: 30px;
}

section:nth-of-type(7) container p {
    color: #adbdcc;
}

section:nth-of-type(7) container a {
    color: #00D4FF;
    font-weight: 500;
}

section:nth-of-type(7) container a:hover {
    color: white;
}

/* Opmaak knop */
section:nth-of-type(7) container article:first-of-type div{
    background-color: #00D4FF;
    margin-top: 5px;
}

section:nth-of-type(7) container article:first-of-type div:hover {
    opacity: 1;
    background-color: white;
    
}

section:nth-of-type(7) container article:first-of-type div a {
    color: #0a2540;
}

/* Opmaak van de twee specificaties in deze sectie */


section:nth-of-type(7) container article:nth-of-type(2) img,
section:nth-of-type(7) container article:nth-of-type(3) img{
    width: 40px;
    margin-bottom: 10px;
}

/* Vormgeving h3 met blauwe lijn links */

section:nth-of-type(7) container article {
    display: flex;
    flex-direction: column;
}

section:nth-of-type(7) container h3 {
    color: white;
    font-size: 25px;
    margin: 10px 0px;
    border-left: solid #00D4FF 1px;
    padding-left: 15px;
    position: relative;
    left: -3.5vw;    
}

section:nth-of-type(7) container article p {
    margin-top: 0px;
    margin-bottom: 14px;
    font-size: 15px;
}


/* ##############################################

    Opmaak van de sectie: Ready to get started?

   ##############################################
*/

section:nth-of-type(8) {
    margin-top: 200px;
    margin-bottom: 150px;
    padding-left: 15px;
    display: inline-block;
}

/* Opmaak van de twee specificaties in deze sectie */

section:nth-of-type(8) article {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}

section:nth-of-type(8) article:first-of-type {
    display: flex;
    flex-direction: row;
}

section:nth-of-type(8) article:first-of-type div:first-of-type {
    background-color: #635BFF;
}

section:nth-of-type(8) article:first-of-type div:first-of-type:hover {
    background-color: black;
    opacity: 1;
    color: white;
}

section:nth-of-type(8) article:first-of-type div:first-of-type a:hover {
    color: white;
}

section:nth-of-type(8) article:first-of-type div:last-of-type a {
    color: #635BFF;
}

section:nth-of-type(8) article:first-of-type div:hover {
    opacity: 1;
}

section:nth-of-type(8) article:first-of-type div:last-of-type a:hover {
    color: black;
}

section:nth-of-type(8) article img {
    width: 40px;
    margin-bottom: 10px;
}

/* Vormgeving h6 met blauwe lijn links */

section:nth-of-type(8) h6 {
    color: #0A2540;
    font-size: 15px;
    margin: 10px 0px;
    border-left: solid #635BFF 1px;
    padding-left: 15px;
    position: relative;
    left: -16px;
}

section:nth-of-type(8) article p {
    margin-top: 0px;
    margin-bottom: 14px;
    font-size: 15px;
}

/* Vormgeving van link */

section:nth-of-type(8) article a {
    color: #635BFF;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px
}

section:nth-of-type(8) p a {
        color: #635BFF;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px
}

section:nth-of-type(8) article a:hover,
section:nth-of-type(8) p a:hover {
    color: black;
}


/* ##############################################

    Opmaak van de sectie: Footer

   ##############################################
*/

footer {
    position: relative;
    padding-left: 25px;
}

footer img {
    width: 65px;
    margin-bottom: 5px;
}

footer container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 750px;
}

footer container::before {
    content: "";
    position: absolute;
    width: 230%;
    height: 110%;
    top: -2.5%;
    left: -40%;
    z-index:-1;
    background-color: #f6f9fc;
    transform: rotate(-6deg);
}

footer > article:first-of-type {
    display: flex;
    padding-top: 120px;
    flex-direction: column;
    font-size: 15px;
}

/* Vormgeving van de talenswitcher */
footer > article:first-of-type div {
    display: flex;
    align-items: center;
    line-height: 1.8;
}

footer > article:first-of-type a {
    text-decoration: none;
    color: #0A2540;
}

footer > article:first-of-type div img {
    width: 13px;
    margin-right: 10px;
    padding-top: 5px;
}

footer > container > article {
    color: #0A2540;
    font-size: 15px;
    line-height: 1.8;
}

footer > container > article:first-of-type {
    padding-right: 50px;
}

footer h6 {
    font-size: 15px;
    margin-bottom: 0px;
    margin-top: 10px;
    padding-bottom: 0px;
}

footer ul {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 10px;
}

footer ul li:hover {
    opacity: 0.6;
}

footer p {
    font-size: 15px;
    padding-left
}
